/* Font */

/* Color Variables */
:root {
    --light-green: #012f11;
    --dark-green: #052313;
    --white: #FFFFFF;
}


/* Basic Styling */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


/* General Styling */
header,
footer {
    background: var(--light-green);
    height: 120px;
    width: 100dvw;
    margin: 0;
    display: flex;
}

.logo {
    width: 200px;
    height: 80px;
    padding: 18px 0px 24px 24px;
}

main {
    background: var(--dark-green);
    width: 100dvw;
}

#dioGallery {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 45px 20px;
}

#dioImages {
    width: 150px;
    height: 250px;
    padding: 8px;
    border-radius: 25px;
}

/* Headlines */
h1 {
    margin: 0;
    padding: 25px 0px;
    text-align: center;
    color: var(--white);
}






/* Media Queries */
@media (max-width: 1280px) {}







@media (max-width: 767px) {}