@font-face {
    font-display: swap;
    font-family: 'Shadows Into Light Two';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/shadows-into-light-two-v19-latin-regular.woff2') format('woff2');
}

:root {
    --light-green: #012f11;
    --dark-green: #052313;
    --white: #FFFFFF;
    --dark-green-transparent: #052313b9;
    --green-dropshadow: #0f6d30;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Shadows Into Light Two';
}

header,
footer {
    background: var(--light-green);
    height: 120px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    height: 80px;
}

.footerLogos {
    height: 40px;
    width: 40px;
    margin: 16px;
}

.footerLogos:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px var(--white));
}


main {
    background: var(--dark-green);
    width: 100%;
}

.dioGallery {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 45px 20px;

}

.dioImages {
    width: 200px;
    height: 250px;
    margin: 8px;
    border-radius: 25px;
}

.dioImages:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px var(--green-dropshadow);
}

h1 {
    margin: 0;
    padding: 25px 0px;
    text-align: center;
    color: var(--white);
    font-size: 32px;
}

h2 {
    font-size: 20px;
    margin: 0;
    color: var(--white);
}

dialog {
    height: 90vh;
    width: 50vw;
    background: var(--light-green);
    border-radius: 15px;
    border: 2px var(--dark-green);
}

dialog::backdrop {
    background: var(--dark-green-transparent);
}

.dialogImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.dialogImg img {
    border-radius: 15px;
    height: 80%;
    width: 80%;
}

.headerDialog {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialogCloseButton {
    height: 32px;
    width: 32px;
}

.dialogCloseButton:hover {
    cursor: pointer;
}

.footerDialog {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: var(--white);
}

.dialogNavButton {
    height: 48px;
    width: 48px;
}

.dialogNavButton:hover {
    cursor: pointer;
}

@media (max-width: 1023px) {
    dialog {
        height: 80vh;
        width: 60vw;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 16px;
    }

    dialog {
        height: 70vh;
        width: 70vw;
    }

    .dialogCloseButton {
        height: 24px;
        width: 24px;
    }

    .dialogNavButton {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 425px) {
    .logo {
        width: 250px;
        height: 80px;
    }

    dialog {
        height: 60vh;
        width: 80vw;
    }

    .dialogCloseButton {
        height: 20px;
        width: 20px;
    }

    .dialogNavButton {
        height: 32px;
        width: 32px;
    }

    .counterDialog {
        font-size: 12px;
        margin: 0;
    }

    .footerDialog {
        height: 48px;
        align-items: center;
    }
}